@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-width: 32rem;
    overflow-x: hidden;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body,
#__next {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

#__next {
    min-height: 100%;
}

main {
    flex-grow: 1;
}

@layer utilities {
    .drag-none {
        -webkit-user-drag: none;
    }
}

@layer components {
    .h1 {
        @apply text-5xl md:text-7xl text-blue font-extrabold;
    }

    .h2 {
        @apply text-4xl md:text-6xl text-blue font-extrabold;
    }

    .link {
        @apply text-2xl text-blue font-bold md:text-3xl md:font-semibold;
    }

    .button {
        @apply p-4 md:p-5 text-2xl md:text-3xl font-semibold md:font-medium text-white bg-blue rounded-xl transform transition-transform hover:scale-105;
    }

    .text {
        @apply text-2xl md:text-3xl text-blue font-medium md:font-normal;
    }

    .avatar {
        @apply filter drop-shadow-xl md:drop-shadow-2xl transform transition-transform active:scale-110 select-none drag-none;
    }
}

@layer base {
    h1 {
        @apply h1;
    }

    p {
        @apply text;
    }

    a {
        @apply link;
    }

    button {
        @apply button;
    }
}
