@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-media --gte-medium-viewport (min-width: 1024px);

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-width: 32rem;
    overflow-x: hidden;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body,
#__next {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

#__next {
    min-height: 100%;
}

main {
    flex-grow: 1;
}

@layer base {
    h1 {
        @apply text-5xl text-blue font-extrabold;
    }

    p {
        @apply text-2xl text-blue font-medium;
    }

    a {
        @apply text-blue font-semibold;
    }

    @media (--gte-medium-viewport) {
        h1 {
            @apply text-7xl;
        }

        p {
            @apply text-3xl font-normal;
        }

        a {
            @apply font-medium;
        }
    }
}

@layer utilities {
    .drag-none {
        -webkit-user-drag: none;
    }
}
